<div class="container mt-5">
  <h2>Update Book</h2>
  <form (ngSubmit)="updateBook()" #bookForm="ngForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="currentBook.title"
        name="title"
        required
      />
    </div>

    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input
        type="text"
        id="author"
        class="form-control"
        [(ngModel)]="currentBook.author"
        name="author"
        required
      />
    </div>

    <div class="mb-3">
      <label for="publicationDate" class="form-label">Publication Date</label>
      <input
        type="date"
        id="publicationDate"
        class="form-control"
        [(ngModel)]="formattedDate"
        (ngModelChange)="onDateChange($event)"
        name="publicationDate"
        required
      />
    </div>


    <div class="mb-3">
      <label for="pdfUrl" class="form-label">PDF URL</label>
      <input
        type="url"
        id="pdfUrl"
        class="form-control"
        [(ngModel)]="currentBook.pdfUrl"
        name="pdfUrl"
        required
      />
    </div>

    <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input
        type="url"
        id="imageUrl"
        class="form-control"
        [(ngModel)]="currentBook.imageUrl"
        name="imageUrl"
        required
      />
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        id="favorite"
        class="form-check-input"
        [(ngModel)]="currentBook.favorite"
        name="favorite"
      />
      <label for="favorite" class="form-check-label">Mark as Favorite</label>
    </div>


    <div class="mb-3">
      <label for="bookType" class="form-label">Book Type</label>
      <select
        class="form-select"
        [(ngModel)]="updateBTID"
        name="bookType"
        required
      >
        <option *ngFor="let type of booktype" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Update Book</button>
  </form>
</div>
